:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

:root {
  --bg: #080808;
  --bg-elevated: #1a1a1a;
  --text: rgba(255, 255, 255, 0.87);

  /*html[data-theme="light"] input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0);
}*/
  
}
  
/* LIGHT THEME */
html[data-theme="light"] {
  --bg: #ebecee;
  --bg-elevated: #ffffff;
  --sidebar-bg: #e2e2ff;

  --notes: #cfc4e6;

  --text: #070d1a;
  --muted: #6b7280;
  --border-subtle: #e5e7eb;

  --input-border: #000000;
  --input-text: #111111;
  --input-bg: #ffffff;

  --accent: #7c3aed;
  --accent-soft: #ede9fe;
  --accent-strong: #4c1d95;
  --danger: #dc2626;

  --shadow-soft: 0 10px 30px rgba(15, 23, 42, 0.08);

  /*html[data-theme="dark"] input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}*/
}

/* DARK THEME */
html[data-theme="dark"] {
  --bg: #231F20;
  --bg-elevated: #000205;
  --sidebar-bg: rgb(27, 24, 24);
  --textarea: #2F2A2B;

  --notes: #2F2A2B;

  --text: #e5e7eb;
  --muted: #9ca3af;
  --border-subtle: #334155;

  --input-border: #555;
  --accent-bg: #160058;;

  --accent: #a78bfa;
  --accent-soft: #312e81;
  --accent-strong: #c4b5fd;
  --danger: #f87171;

  --shadow-soft: 0 10px 30px rgba(0, 0, 0, 0.5);
}

  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }

